.sign-in {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in__form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
} 

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-family: var(--heading);
  font-weight: 500;
  font-size: 18px;
  color: var(--text-h);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  align-self: flex-start;
}

.checkbox__input {
  cursor: pointer;
}

.auth-redirect {
  text-align: center;
  font-size: 16px;
}